<form class="login-form" action="loginForm" method="post">

    <h1 style="text-align: center;">Gestion des assignments</h1>
    <div class="login">
        <label for="name"><b>Email</b></label>
        <input matInput  [(ngModel)] = "email" type="text" placeholder="Enter votre nom d'utilisateur" name="name" required>
    
        <label for="mdp"><b>Password</b></label>
        <input matInput  [(ngModel)] = "password" type="password" placeholder="Enter votre mot de pass" name="mdp" required>
    
        <button type="submit" (click)="Login()">Login</button>
      </div>
</form>